{% extends 'base.html.twig' %}

{% block title %}New Livraison{% endblock %}

{% block container %}
    <h1>Create new Livraison</h1>

    {{ include('livraison/_form.html.twig') }}

    <a href="{{ path('indexliv') }}">back to list</a>
{% endblock %}
